#section0 {
  background-color: #29323C;
  text-align: center;
}

#section0 > div {
  vertical-align: top !important;
}

div.fp-tableCell, {
  text-align: center;
}

div#hero #baseline {

  text-align: left;
  width: 70vw;
  margin: 0 auto;

  color: #ccc;
  font-size: 3vw;

  font-family: 'Source Sans Pro', sans-serif;

  line-height: 4vw;

  margin-bottom: 1em;
}

div#hero #baseline strong {
  color: #000;
}

div#hero {
  text-align: center;
}

#section1 {
  text-align: center;
}

.intro p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
}

a:link,
a:visited {
  color:#FF4B03;
  text-decoration: none;
}

a.button.green {
  background-color: #5cb85c;
  color: #fff !important;
}

a.ui-button:active {
  background-color:#FF4B03;
  border-color: #5cb85c;
}

#section0 span.baseline {
  color: #ccc;
  font-family: 'JelleeRoman';
  font-weight: normal;
  font-style: normal;

  font-size: 2.3em;
  /* margin-top: 50px; */
}

#logo {
  font-family: 'LobsterRegular';
  color: #fff;
  font-size: 64pt;
  font-weight: normal;
  font-style: normal;
  /* margin-top: 1vh; */
  color:#FF4B03;
  margin-bottom: 30vh;
  transition: all 2s;
}

#infoMenu {
  height: 20px;
  color: #ccc;
  position: fixed;
  z-index: 70;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1em;
  padding: 8px 0 8px 0;
}

#screenshots {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;
}

#screenshots > div {
  text-align: center;
  flex: 0 1 250px;
}

div#screenshots img {
  background-color: #29323C;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), -2px -2px 3px 0 rgba(0, 0, 0, 0.7) inset;
}

#section1 img {
  /* margin: 20px 0 0 0; */
  height: 38vw;
}

span#gafam {
  transition: all 2s;
}
